<ion-header>
  <ion-toolbar>
    <ion-title>
      Daily Log
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<!--List of items that have been created - forming the user's log of caffeine-->
  
<!-- failed SQLite attempt attempt
  <ion-item *ngFor="let cafs of caffeineLog">
        <ion-label>
          <h2>{{ cafs.post_id }}</h2>
          <h2>{{ cafs.productName }}</h2> 
          <h2>{{ cafs.productType}}</h2>
          <p>{{ cafs.caffeineAmount }}</p>
          <p>{{ cafs.date }}</p>
        </ion-label>
        -->
        <ion-list>
      <ion-item-sliding *ngFor="let item of loadItems(); let i = index">
        <ion-item>
            <div ng-repeat="data in carven">
              
          <h2>{{item.productType}}    |    {{item.productName}}    |    {{item.caffeineAmount}} mg<br></h2>
          <p>{{item.date}}</p>
          
            </div>
        </ion-item>
        <ion-item-options>
          <ion-button (click)="editItem(item, i)"  color="primary" icon-start>
            <ion-icon name="create"></ion-icon>
            Edit
          </ion-button>
          <ion-button (click)="shareItem(item, i)"  color="success" icon-start>
            <ion-icon name="share"></ion-icon>
            Share
          </ion-button>
          <ion-button (click)="removeItem(item, i)"  color='danger' icon-start>
            <ion-icon name="trash"></ion-icon>
            Delete
          </ion-button>
        </ion-item-options>
      </ion-item-sliding>
  </ion-list>

</ion-content>