<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Added additional Tab from default with about information-->
<ion-content>
    <ion-card>
    
      <ion-card-header>
        <ion-card-subtitle>
          About
        </ion-card-subtitle>
        <ion-card-title>
          Caffeine Tracker
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          This app was created to provide a simple way to look up caffeine content in popular food and drink,
          and allow our users to add this to their personal log.
        </p>
      </ion-card-content>

    </ion-card>
    <ion-card>
    <ion-card-header>
        <ion-card-title>Version</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          1.0
        </p>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Copyright</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              2019
            </p>
            </ion-card-content>
        </ion-card>
</ion-content>
